<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>OLA</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- Main -->
    <form action="/service/<%= professional.id %>?_method=PUT" method="POST">

    <div class="form-input">
      <label class="main-label" for="professionalName">Nombre y Apellido</label>
      <input id="professionalName" type="text" name="professionalName" value="<%= professional.professionalName %>"/>
    </div>

    <div class="form-input">
      <label class="main-label" for="profession">Profesion</label>
      <input id="profession" type="text" name="profession" value="<%= professional.profession %>"/>
    </div>

    <div class="form-input">
      <label class="main-label" for="professionalImage">Foto de Perfil</label>
      <input id="professionalImage" type="file" name="professionalImage" value="/img/profile/<%= professional.professionalImage %>"/>
      <img src="/img/profile/<%= professional.professionalImage %>"width="25%" />
    </div>

    <div class="form-input">
      <label class="main-label" for="professionalLocation">Localidad</label>
      <input id="professionalLocation" type="text" name="professionalLocation" value="<%= professional.professionalLocation %>"/>
    </div>

    <div class="form-input">
      <label class="main-label" for="professionlDescription">Descripcion</label>
      <textarea name="professionlDescription" id="professionlDescription"><%= professional.professionlDescription %></textarea>
    </div>

    <div class="form-input">
      <label class="main-label" for="payMethod">Metodos de pago</label>
      <input id="payMethod" type="text" name="payMethod" value="<%= professional.payMethod %>"/>
    </div>

    <div class="form-input">
      <label class="main-label" for="celphone">Numero de celular</label>
      <input id="celphone" type="number" name="celphone" value="<%= professional.celphone%>">
    </div>

    <button type="submit">Guardar ediciones</button>

    </form>
    <!-- footer -->
    <%- include("../partials/footer") %>
  </body>
</html>
