<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>OLA</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- Main -->

    <p><%= professional.name %></p>
    <p><%= professional.profession %></p>
    <img
      src="/img/profile/<%= professional.profileImage %>"
      alt="imagen del profesional"
      width="25%"
    />
    <p><%= professional.location %></p>
    <p><%= professional.description %></p>
    <p><%= professional.payMethod %></p>

    <a href="/service/edit/<%= professional.id %>">Editar professional</a>

    <form action="/service/<%= professional.id %>?_method=DELETE" method="POST">
      <button type="submit">ELIMINAR</button>
    </form>
    <!-- footer -->
    <%- include("../partials/footer") %>
  </body>
</html>
