<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("../partials/head") %>
  <body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- Main -->
    <h1><%= idUser %></h1>

    <h1><%= name %></h1>
    <h1><%= profesion %></h1>
    <h1><%= capacitation %></h1>
    <h1><%= profile-img %></h1>
    <h1><%= location %></h1>
    <h1><%= zip-code %></h1>
    <h1><%= description %></h1>
    <h1><%= pay-method %></h1>
    <h1><%= number %></h1>
    <h1><%= email %></h1>
    <h1><%= social-media %></h1>

    <!-- footer -->
    <%- include("../partials/footer") %>
  </body>
</html>
