<div class="contenedor-p">
  <div class="profesional">
    <a href="/service/detail/<%= professional.id %>">
      <img
        src="/img/professionalImage/<%= professional.professionalImage %>"
        alt="Profesional"
        class="w-100 block"
      />
    </a>
    <div class="detalle">
      <a href="/service/detail/<%= professional.id %>">
        <h1><%= professional.professionalName %></h1>
      </a>
      <h2><%= professional.profession %></h2>
      <p><%= professional.professionalLocation %></p>
    </div>
  </div>
</div>
