<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <title>OLA</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- Main -->
    <main class="padding-16">
      <h1>Registrarte</h1>
      <form action="" method="POST" enctype="multipart/form-data">
        <label class="main-label" for="name">Nombre y Apellido</label>
        <input id="name" type="text" name="name" class = "<%= locals.errors &&
        errors.name ? "is-invalid" : null %>" value= "<%= locals.oldData ?
        oldData.name : null %>" /> <% if (locals.errors && errors.name) { %>
        <div class="text-danger"><% errors.name.msg %></div>
        <% } %>
        <div class="form-input">
          <label class="main-label" for="birthday">Fecha de nacimiento</label>
          <input id="birthday" type="date" name="birthday" />
        </div>

        <div class="form-input">
          <label class="main-label" for="email">Correo electronico</label>
          <input id="email" type="email" name="email" class = "<%= locals.errors
          && errors.email ? "is-invalid" : null %>"/> <% if (locals.errors &&
          errors.email) { %>
          <div class="text-danger"><% errors.email.msg %></div>
          <% } %>
        </div>

        <div class="form-input">
          <label class="main-label" for="userImage">Foto de usuario</label>
          <input id="user-image" type="file" name="user-image" />
          <% if (locals.errors && errors.user-image) { %>
          <div class="text-danger"><% errors.user-image.msg %></div>
          <% } %>
        </div>

        <div class="form-input">
          <label class="main-label" for="password">Contraseña</label>
          <input id="password" type="password" name="password" class = "<%=
          locals.errors && errors.password ? "is-invalid" : null %>"/> <% if
          (locals.errors && errors.password) { %>
          <div class="text-danger"><% errors.password.msg %></div>
          <% } %>
        </div>

        <div class="form-input">
          <label class="main-label" for="rePassword">Repetir contraseña</label>
          <input id="re-password" type="password" name="re-password" />
        </div>

        <button type="submit">Enviar</button>
        <button type="reset">Resetear</button>
      </form>
    </main>
    <!-- footer -->
    <%- include("../partials/footer") %>
  </body>
</html>
